apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: cache-service
  labels:
    app.kubernetes.io/part-of: {{ .Values.appName }}
spec:
  configuration:
    - type: secret
      value: cache-service-secret
  dependencies:
    - 'camel:netty-http'
    - 'camel:infinispan'
  profile: OpenShift
  sources:
    - content: {{ .Files.Get "data/java/DatagridToRestRoute.java" | quote }}
      name: DatagridToRestRoute.java
  traits:
    service:
      configuration:
        enabled: false
