apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: mqtt2kafka
spec:
  configuration:
    - type: secret
      value: mqtt2kafka
  profile: OpenShift
  sources:
    - content: {{ .Files.Get "data/java/MqttToKafka.java" | quote }}
      name: MqttToKafka.java
  traits:
    service:
      configuration:
        enabled: false