kind: Deployment
apiVersion: apps/v1
metadata:
  name: ota-server
  namespace: {{ .Values.namespace }}
  labels:
    app: ota-server
    app.kubernetes.io/component: ota-server
    app.kubernetes.io/instance: ota-server
    app.kubernetes.io/name: ota-server
    app.kubernetes.io/part-of: {{ .Values.appName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ota-server
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: ota-server
        deployment: ota-server
    spec:
      containers:
        - name: ota-server
          image: quay.io/bobbycar/ota-server:1.0-jvm
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          env:
            - name: mqtt.paho.broker.uri
              value: 'tcp://bobbycar-amq-mqtt-all-0-svc:61616'
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600