
  #map, #pano {
    float: left;
    height: 100%;
    width: 100%;
  }

  h2, h3, h4 {
    color: #CC0000;
  }

.ibm_logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    opacity: 0.9;
    background-color: #000;
  }

  .engine-data-overlay {
    position: fixed;
    width: 40%;
    height: 100%;
    background: var(--color-engine-overlay-bg);
    // background: rgba(0,0,0,0.9);
    z-index: 20;
    top: 0%;
    left: 0%;
    overflow:scroll;
  }

  .rd-conditions{
    background-color: var(--color-rd-conditions-bg);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
  }

  .image-box-vw {
    background: url("../../assets/vw.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
 }

   .image-box-ford {
     background: url("../../assets/ford-cockpit.jpg") center center no-repeat;
     background-size: cover;
     min-height: 100vh;
  }

   .image-box-mb {
     background: url("../../assets/cockpit_s.jpg") center center no-repeat;
     background-size: cover;
     min-height: 100vh;
  }

  .image-box-bmw {
       background: url("../../assets/cockpit.jpg") center center no-repeat;
       background-size: cover;
       min-height: 100vh;
    }

 .image-box-porsche {
        background: url("../../assets/porsche-cockpit.jpg") center center no-repeat;
        background-size: cover;
        min-height: 100vh;
     }

 .navi {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 32%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eee;
    opacity: 0.9;
    z-index:1000;
 }
 .window {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 32%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.9;
 }

 .infotainment {
     width: 23%;
     //height: 23%;
     border: 0px solid #000;
     border-radius: 10px;
     //background-color: #CC0000;
     opacity: 0.95;
  }
 .it-mb {
     position: absolute;
     top: 40%;
     left: 40%;
 }
 .it-bmw {
     position: absolute;
     top: 40%;
     left: 59%;
 }
 .it-porsche {
      position: absolute;
      top: 43%;
      left: 66%;
 }
 .it-vw {
      position: absolute;
      top: 44%;
      left: 68%;
 }
  .it-ford {
       position: absolute;
       top: 54%;
       left: 42%;
  }

 .instruments {
    position: absolute;
    top: 0%;
    left: 0%;
    //border: 1px solid #444;
    //border-radius: 5px;
    background-color: #000;
    //color: #000;
    opacity: 0.9;
    padding: 0px;
    width: 80%;
    height: 33%;
  }

 .metricDisplayGreen {
   //color: rgb(18, 234, 18);
   color: green;
   padding-left: 10px;
   font-weight: bold;
   font-size: large;
 }
 .metricDisplayGrey {
  color: #CC0000;
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
}
