
  #map, #pano {
    float: left;
    height: 100%;
    width: 100%;
  }

  .image-box-vw {
    background: url("../../assets/vw.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
 }

   .image-box-s {
     background: url("../../assets/cockpit_s.jpg") center center no-repeat;
     background-size: cover;
     min-height: 100vh;
  }

  .image-box-bmw {
       background: url("../../assets/cockpit.jpg") center center no-repeat;
       background-size: cover;
       min-height: 100vh;
    }

 .image-box-skoda {
        background: url("../../assets/skoda.jpg") center center no-repeat;
        background-size: cover;
        min-height: 100vh;
     }

 .navi {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 32%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eee;
    opacity: 0.9;
    z-index:1000;
 }
 .window {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 32%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eee;
    opacity: 0.9;
 }

 .instruments {
    position: absolute;
    top: 0%;
    left: 0%;
    //border: 1px solid #444;
    //border-radius: 5px;
    //background-color: #eee;
    //color: #000;
    opacity: 0.7;
    padding: 0px;
    width: 80%;
    height: 33%;
  }

 .metricDisplayGreen {
   color: rgb(18, 234, 18);
   padding-left: 10px;
   font-weight: bold;
   font-size: large;
 }
 .metricDisplayGrey {
  color: rgb(248, 205, 205);
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
}

 .menu {
  position: absolute;
  top: 57%;
  left: 49%;
}

.menu-bmw {
  position: absolute;
  top: 56%;
  left: 66%;
}

.menu-s {
  position: absolute;
  top: 68%;
  left: 48%;
}

.menu-skoda {
  position: absolute;
  top: 48%;
  left: 73%;
}