<ion-header>
  <ion-toolbar>
    <ion-title> Red Hat Connected Vehicle Architecture - Vehicle Detail</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="light">

  <div class="engine-data-overlay" padding [hidden]="engineOverlayHidden">
    <div style="padding: 20px;">

      <span *ngIf="weatherData != undefined">
      <div style ="background-color: #333 ; border: 2px solid; border-radius: 5px; padding: 5px;">
        <h2 >Predictive Road Conditions Status:</h2>
        Based on the current conditions it is recommended to enable the Driver Monitoring assistance system:
        <ion-button (click)="toggleInfotainment()" color="danger">
          <ion-icon name="videocam"></ion-icon> &nbsp;Enable
        </ion-button>
      </div>
        <h4>Road Classification Result:</h4>
        <pre><p>{{ roadClassificationResult | json }}</p></pre>
        <h4>Current Weather Data:</h4>
        <pre><p>{{ weatherData | json }}</p></pre>

      </span>

      <span *ngIf="engineData != undefined">
        <h2 >Current Engine Configuration:</h2>
        <pre><p>{{ engineData | json }}</p></pre>
      </span>

    </div>
  </div>

  <div style="" class="infotainment">
    <div style="background-color: #CC0000; color:#fff;">Red Hat In-Vehicle OS<br/> Version: 9.54.123</div>
    <span *ngIf="!showDriverMonitoring"><object data="https://www.youtube.com/embed/oKnZvNF3FB4?autoplay=0&mute=1&controls=0&loop=1" width="100%" height="90%" style="border-radius: 5px;">
    </object></span>
    <span *ngIf="showDriverMonitoring">
      <app-vjs-player [options]="{ fluid: true, autoplay: true, controls: true}"></app-vjs-player>
    </span>
  </div>

  <div [ngClass]="{'image-box-s': carBg === 'S', 'image-box-vw': carBg === 'VW', 'image-box-bmw': carBg === 'BMW', 'image-box-skoda': carBg === 'SK'}">
    <div class="navi">
      <div id="map" style="border-radius:10px;"></div>
    </div>
    <div class="window" [style.visibility]="streetName ==''? 'hidden': 'visible'">
      <div id="pano"></div>
    </div>
    <div class="instruments" *ngIf="showHUD">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list style="border: 1px solid #000; border-radius: 5px;">
            <ion-item>Car ID: <span class="metricDisplayGrey"> {{ carMetric.driverId }} </span></ion-item>
            <ion-item>VIN: <span class="metricDisplayGrey"> {{ carMetric.vin }} </span></ion-item>
            <ion-item>Manufacturer:
              <span class="metricDisplayGrey" *ngIf="carBg==='VW'"> Volkswagen </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='BMW'"> BMW </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='S'"> Mercedes-Benz </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='SK'"> Skoda </span>
            </ion-item>
            <ion-item> Model:
              <span class="metricDisplayGrey" *ngIf="carBg==='VW'"> 2020 ID.3 </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='BMW'"> 850 M </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='S'"> S 500 </span>
              <span class="metricDisplayGrey" *ngIf="carBg==='SK'"> Oktavia </span>
            </ion-item>
            <ion-item> Street: <span class="metricDisplayGrey"> {{streetName}} </span></ion-item>
            <ion-item> BobbycarZone: <span class="metricDisplayGrey"> {{carMetric.zone}} </span></ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list style="border: 1px solid #000; border-radius: 5px;">
          <ion-item> Speed: <span class="metricDisplayGreen"> {{ carMetric.speed | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg!=='VW'"> RPM: <span class="metricDisplayGreen"> {{ carMetric.rpm | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg!=='VW'"> l/100km: <span class="metricDisplayGreen"> {{ carMetric.fuel | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg==='VW'"> kwh: <span class="metricDisplayGreen"> {{ carMetric.fuel | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg!=='VW'"> CO2: <span class="metricDisplayGreen"> {{ carMetric.co2 }} </span></ion-item>
          <ion-item> Gear:
            <span class="metricDisplayGreen" *ngIf="carBg!=='VW'"> {{ carMetric.gear }} </span>
            <span class="metricDisplayGreen" *ngIf="carBg==='VW'"> D </span>
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div >

    <div [ngClass]="{'menu-s': carBg === 'S', 'menu': carBg === 'VW', 'menu-bmw': carBg === 'BMW', 'menu-skoda': carBg === 'SK'}">
      <ion-button  (click)="toggleHUD()" color="danger">
        <ion-icon name="navigate"></ion-icon>
      </ion-button>
      <ion-button (click)="showConfig()" color="danger">
        <ion-icon name="car"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleInfotainment()" color="danger">
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleStreetView()" color="danger">
        <ion-icon name="eye-outline" *ngIf="enableStreetView"></ion-icon>
        <ion-icon name="eye-off-outline" *ngIf="!enableStreetView"></ion-icon>
      </ion-button>
      <ion-button (click)="getWeatherData()" color="danger">
        <ion-icon name="cloud"></ion-icon>
      </ion-button>
    </div>
    <!--<div id="chartdiv" style="width: 20%; height: 200px; top: 17%; left: 32%; position: absolute;"></div>-->
 </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-buttons slot="end">
    <ion-button size="small" (click)="carBg='VW'">VW</ion-button>
    <ion-button size="small" (click)="carBg='SK'">Skoda</ion-button>
    <ion-button size="small" (click)="carBg='BMW'">BMW</ion-button>
    <ion-button size="small" (click)="carBg='S'">S</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>