<ion-header>
  <ion-toolbar>
    <ion-title>Bobbycar - Car Detail</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">

  <div class="image-box" style="--image-url: url(assets/cockpit.jpg)">
    <div class="navi">
      <div id="map"></div>
    </div>
    <div class="window" [style.visibility]="streetName ==''? 'hidden': 'visible'">
      <div id="pano"></div>
    </div>
    <div class="instruments" *ngIf="showHUD">
      {{streetName}}
    </div>
    <ion-button class="menu" (click)="toggleHUD()">
      HUD
    </ion-button>
 </div>

  

</ion-content>