apiVersion: broker.amq.io/v2alpha5
kind: ActiveMQArtemis
metadata:
  name: bobbycar-amq-mqtt
  namespace: {{ .Values.namespace }}
spec:
  deploymentPlan:
    size: {{ .Values.amqBroker.instances }}
    image: placeholder
    requireLogin: false
    persistenceEnabled: false
    journalType: nio
    messageMigration: false
  console:
    expose: {{ .Values.amqBroker.console.expose }}
  acceptors:
    - name: all
      port: 61616
      expose: true