apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: {{ .Values.kafka.topic.metrics.name }}
  namespace: {{ .Values.namespace }}
  labels:
    strimzi.io/cluster: bobbycar-cluster
spec:
  partitions: {{ .Values.kafka.topic.metrics.partitions }}
  replicas: {{ .Values.kafka.topic.metrics.replicas }}
  config:
    retention.ms: {{ .Values.kafka.topic.metrics.retention }}
    segment.bytes: 1073741824
 
