<ion-header>
  <ion-toolbar>
    <ion-title>Bobbycar - Map ({{bobbycars.size}})</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button (click)="createZone()">
      <ion-icon name="create-outline"></ion-icon> 
      Create Zone
    </ion-button>
    <ion-button (click)="realtimeQuery()">
      <ion-icon name="search"></ion-icon> 
      Realtime Query
    </ion-button>
    <ion-button color="danger" (click)="resetMap()">
      <ion-icon name="refresh-outline"></ion-icon> 
      Reset Map
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchArea?.getVisible()">
    <ion-list>
      <ion-list-header lines="none">
        <ion-label>Search area: {{searchArea.getCenter().toString()}} radius: {{searchArea.getRadius()}}</ion-label>
        <ion-button>Select All</ion-button>
      </ion-list-header>
      <ion-item>
        <ion-label>Average Speed</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label *ngIf="isQuery">89 km/h</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Average Carbon Dioxide</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label *ngIf="isQuery">168 g/km</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Average Fuel Consumption</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label *ngIf="isQuery">7.6 l/100km</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Average Driver Distraction</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label *ngIf="isQuery">6.8</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="simulateQuery()">
      <ion-icon name="search"></ion-icon> 
      Start Query
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">

 <div id="map"></div>

</ion-content>