<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Red Hat Connected Vehicle Architecture - Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-title>
        <ion-label>Scaling - Car Simulator Deployment</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label>Replicas: {{ carSimReplicas }}</ion-label>
          <ion-range min="0" max="20" step="1" [(ngModel)]="carSimReplicas" snaps color="danger" name="range">
            <ion-icon slot="start" size="small" color="danger" name="car"></ion-icon>
            <ion-icon slot="end" color="danger" name="car"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-button (click)="scaleCarSim()" color="danger" fill="outline">
          <ion-icon name="sync"></ion-icon>&nbsp;
          Scale
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

    <ion-card class="welcome-card">

      <ion-card-header>
        <ion-card-title>
          <ion-label>Cache Service</ion-label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button (click)="getZonesFromCache()" color="danger" fill="outline">
          <ion-icon name="albums"></ion-icon>&nbsp;
          List Zones
        </ion-button>
        <ion-button (click)="getCarsFromCache()" color="danger" fill="outline">
          <ion-icon name="car"></ion-icon>&nbsp;
          List Cars
        </ion-button>
        <ion-button (click)="clearCache()" color="danger" fill="outline">
          <ion-icon name="refresh"></ion-icon>&nbsp;
          Clear Cache
        </ion-button>
        <pre><p style="color: #fff;">{{ bobbycarZones | json }}</p></pre>
        <pre><p style="color: #fff;">{{ bobbycars | json }}</p></pre>
      </ion-card-content>
    </ion-card>

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-title>
        <ion-label>Car Service</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="getEngineDataByCarId()">
        <ion-item>
          <ion-label>Car ID: </ion-label>
          <ion-input type="text" [(ngModel)]="engineDataSearch.carId" name="engineData"></ion-input>
        </ion-item>
        <ion-button type="submit" color="danger" fill="outline">
          <ion-icon name="build"></ion-icon>&nbsp;
          Get Engine Data
        </ion-button>
        <ion-button (click)="getCarMetrics()" color="danger" fill="outline">
          <ion-icon name="analytics"></ion-icon>&nbsp;
          Metrics
        </ion-button>
      </form>
      <pre><p style="color: #fff;">{{ carData | json }}</p></pre>
      <pre><p style="color: #fff;">{{ carMetrics | json }}</p></pre>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-title>
        <ion-label>Weather Service</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label>Latitude: </ion-label>
          <ion-input id="lat" type="text" [(ngModel)]="latitudeSearch" name="Latitude"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Longitude: </ion-label>
          <ion-input id="lon" type="text" [(ngModel)]="longitudeSearch" name="Longitude"></ion-input>
        </ion-item>
        <ion-button (click)="getWeatherObservationData('weather')" fill="outline"><ion-icon name="cloud"></ion-icon>&nbsp;Current Weather (IBM)</ion-button>
        <ion-button (click)="getWeatherData('weather')" color="danger" fill="outline"><ion-icon name="cloud"></ion-icon>&nbsp;Current Weather (OWM)</ion-button>
        <ion-button (click)="getWeatherData('pollution')" color="danger" fill="outline"><ion-icon name="cloud-circle"></ion-icon>&nbsp;Air Pollution (OWM)</ion-button>
      </form>
      <pre><p style="color: #fff;">{{ weatherData | json }}</p></pre>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-title>
        <ion-label>OTA Server API</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label>Campaign ID: </ion-label>
          <ion-input type="text" [(ngModel)]="otaCampaignIdSearch" name="otaCampaignIdSearch"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Campaign Payload: </ion-label>
          <ion-textarea rows="10" cols="20" [(ngModel)]="otaPayloadInput" name="otaPayloadInput"></ion-textarea>
        </ion-item>
        <ion-button (click)="getOTAPayload()" color="danger" fill="outline"><ion-icon name="list"></ion-icon>&nbsp;Get Payload</ion-button>
        <ion-button (click)="createOTAPayload()" color="danger" fill="outline"><ion-icon name="add"></ion-icon>&nbsp;Create Payload</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
