# Add on values file when using the Drogue IoT option

global:
  cluster: openshift
  drogueCloud:
    useServiceCA: true
    keycloak:
      insecure: true

drogueCloudCore:
  console:
    localCertificates: true

  endpoints:
    coap:
      ingress:
        port: 443
    mqtt:
      ingress:
        port: 443
    mqttWs:
      ingress:
        port: 443
    mqttWsBrowser:
      ingress:
        port: 443
    http:
      ingress:
        port: 443

  integrations:
    websocket:
      service:
        insecure: true
      ingress:
        insecure: true
        port: 80
    mqtt:
      ingress:
        port: 443
    mqttWsBrowser:
      ingress:
        port: 443
    mqttWs:
      ingress:
        port: 443

  services:
    console:
      service:
        insecure: true
      ingress:
        insecure: true
        port: 80
    command:
      service:
        insecure: true
      ingress:
        insecure: true
        port: 80
    registry:
      service:
        insecure: true
    api:
      ingress:
        insecure: true
        port: 80
    sso:
      ingress:
        insecure: true
        port: 80

    topicOperator:
      type: admin

  keycloak:
    deployment:
      enabled: false

  kafka:
    external:
      enabled: true
      bootstrapServer: bobbycar-cluster-kafka-bootstrap:9092
      tls:
        enabled: false